{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Folder Strucuture</h3>
            <br>
            <p class="para primary">
                With Go you pretty do what works for your eyes.
                If you are starting out you can name the folders whatever
                you want.  I tend to start out with this layout.
            </p>
            <p class="para primary">
               
                <em style="color:red;">
                    <div class="para">
                        <ul>
                            <li>- Project</li>
                            <ul>
                                <li>- /static</li>
                                <ul>
                                    <li>
                                        - /Img
                                    </li>
                                    <li>
                                        - /CSS
                                    </li>
                                </ul>
                                <li>- /templates</li>
                                <li>- /Handlers</li>
                                <ul>
                                    <li>- /Home</li>
                                    <li>- /Headers</li>
                                    <ul>
                                        <li style="color:#5600ff;">This is for checking header data per handler</li>
                                    </ul>
                                </ul>
                                <li>- /Server</li>
                                <ul>
                                    <li style="color:#5600ff;">This is where the server details happen. </li>
                                    <li style="color:#5600ff;">Context, logger, Autho, ect.. </li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </em>
            </p>
            <br>

            <p class="para primary">
             Ultimately you are going to need to split things out later on.
             But I would suggest you do what works for your eyes.  
             I would suggest when things get a lot bigger your you are working 
             with others to follow the general schema that is presented.
             <a href="https://github.com/golang-standards/project-layout">here</a>
             Again, the best thing is to make it so that you want to look at it.
            </p>


        </div>
    </div>
</body>
{{template "footer"}}