{{define "footer"}}
<div class="cl">&nbsp;</div>
<div class="cl">&nbsp;</div>
<div class="cl">&nbsp;</div>
<div class="grid w-1-1 footers">
    <div class="footerleft1">
       <a href="https://twitter.com/ZacharyEndrulat"><i class="fab fa-twitter fa-2x primary"></i></a> 
       <a href="https://medium.com/@snippet22/reader-types-2ba61290a5cf"><i class="fab fa-medium-m fa-2x primary"></i></a>
       <a href="/form"><i class="fas fa-user-tie fa-2x primary"></i></a>
       <a href="mailto:zendrulat@gmail.com"><i class="fas fa-paper-plane fa-2x"></i></a>.
        <a href="#head" style="padding:1px; margin: 1px;" class="button grid-item"><h4>Back to the top</h4></a>
    </div>
    <div class="footerright1">
        <div class="grid">
            <div class="grid-item w-1-1">
                <ul class="box para primary flnav">
                    <ol> <a href="/go">Interfaces</a></ol>
                    <ol> <a href="/imports">Imports</a></ol>
                    <ol> <a href="/types">Types</a></ol>
                    <ol> <a href="/server">Server</a> </ol>
                    <ol> <a href="/middle">Middleware</a></ol>
                    <ol> <a href="/filestructure">File Structure</a></ol>
                    <ol> <a href="/goroutines"> Goroutines</a></ol>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footerbase">
    <ul class="primary ftnav1">
        <ol> <a href="/go">Interfaces</a></ol>
        <ol> <a href="/Imports">Imports</a></ol>
        <ol> <a href="/types">Types</a></ol>
        <ol> <a href="/server">Server</a> </ol>
    </ul>
    <ul class="primary ftnav2">
        <ol> <a href="/middle">Middleware</a></ol>
        <ol> <a href="/filestructure">File Structure</a></ol>
        <ol> <a href="/goroutines"> Goroutines</a></ol>
    </ul>
</div>
</body>
</html>
{{end}}
