{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Please fill out the form</h3>
            <br>
            <p class="para primary">
                <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" style="height:60px;">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/go">Home</a>
                        </li>
                        
                      </ul>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Please Login to create a user</h5>
                      <p class="card-text">
                        <form action="/formss" method="POST" novalidate>
                            <div class="form-row align-items-center">
                                <div class="col-sm-3 my-1">
                                    <label class="sr-only" for="fname">First Name</label>
                                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Jane">
                                </div>
                                <div class="col-sm-3 my-1">
                                    <label class="sr-only" for="lname">Last Name</label>
                                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Doe">
                                </div>
                                <div class="col-sm-3 my-1">
                                    <label class="sr-only" for="email">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" name="email" id="email" placeholder="some@gmail.com">
                                    </div>
                                </div>
                                <div class="col-auto my-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                        <label class="form-check-label" for="autoSizingCheck2">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto my-1">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                      </p>
                      
                    </div>
                  </div>
               

            </p>
            .

        </div>
    </div>
</body>
{{template "footer"}}