{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Interfaces</h3>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
                        <p>
                 type <em style="color: green;">geometry</em> interface {
                area() float64
                 perim() float64
 }</p>
    </code></pre>
                </center>
            </div>
            <p class="para primary">It provides a way to hold methods but it can be transfered to
                other structs.
            </p>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
                        <p>
            //struct
            type <em style="color: green;">T</em> struct {
                    Name string
 }
 <br>
                //method
                func <em style="color: green;">(t T)</em> run() {
                    //do something
}
<br>

                type <em style="color: green;">Ti</em> <em style="color: red;">interface</em >{ 
                    run()   
}
</p>
    </code></pre>
                </center>
            </div>

            <p class="para primary">With the following now you can call up the struct from the interface</p>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
    <p>
              var i I = T{}
        i.run()

                  //or

                  type <em style="color: green;">T</em> struct {
                    Name string
                       Ti interface{}
   }

                //or

                        type Ti2 interface{
                            Ti interface{}
     }
                    </p>
</code></pre>
                </center>
            </div>
            <p class="para primary">By utilizing this you can gain inheritance. You also begin to understand
                types in general.
            </p>

        </div>
    </div>

    </center>
    </main>
    </div>

</body>
{{template "footer"}}