{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Goroutines</h3>

            <p class="para primary">
                I think what a lot of people forget is how these Goroutines run.
                They think it is like async and you can simply add it and maybe
                use some waitgroups later and forget about it. People don't realize
                that they need to visualize what they are.
            </p>

            <br>
            <p class="para primary">
                <div class="code box-l  w-1-1 vh-s">
                    <center>
                        <pre><code>
                            <p style="margin-left: -20em;">
                                go func(){

                                }</p>
        </code></pre>
                    </center>
                </div>

            </p>

            <br>
            <p class="para primary">
                You have to realize that these functions run at their own pace.
                So it helps to understand whats actually happening. When you
                set one of these off you have to visualize where it begins and
                where it ends.
            </p>

            <br>
            <p class="para" style="color:#a23299;">

                Your program - go1 <br>
                Your goroutine - go2 <br>
            </p>
            <br>
            <p class="para" style="color:#a23299;">
                As your Program runs it has its own start and end. <br>
                <br></p>
            <p class="para" style="color:#a23299;">
                go1 begin->>><em style="color:#556ca1;">/ʕ◔ϖ◔ʔ/</em>----------------end <br>
                go2 begin->>> <em style="color:#a5aec3;">/ʕ◔ϖ◔ʔ/</em>----------------end
            </p>
            <br>

            <br>
            <p class="para primary">
                Your Goroutines do as well. So when you want them to do a
                task, you have to keep this in mind.

            </p>
            <br>
            <p class="para primary">
                <a href="https://play.golang.org/p/T5Dm-sSGz8w">Example</a>
                <div class="code box-l  w-1-1 vh-s">
                    <center>
                        <pre><code>
                            <p style="margin-left: -20em;">
        var a = 33
        

                    func checkbetween(){

                           //loop through till value is above a.

                                    for i := 0; i < 100; i++ {
                                        if a < i {
                                               fmt.Println(i)
                                        }
                            }

     }</p>
        </code></pre>
                    </center>
                </div>

            </p>

            <br>
            <p class="para primary">
                To make this a goroutine we just write <br> go checkbetween()
            </p>
            <br>

            <br>
            <p class="para primary">
                You have to remember when this operation ran initially
                it was in one operation or was "blocking". Meaning
                the program had to stop operations while it ran. With
                the "go" infront of it, you now are making the operation
                run at its own pace. When can be good but now you have
                lost control of when it begins and when it ends.

            </p>
            <br>
            <br>
            <p class="para primary">
                This can be controlled by utilizing waitgroups. <br>
                var wg sync.WaitGroup

            </p>
            <br>

            <p class="para primary">

                This is an example of this occuring.
                <a href="https://play.golang.org/p/K76SdPSnhRR">Example</a>
                <br>
                <ul class="para primary">
                    <li>Things to remember...</li>
                    <li>1. Remember to import "sync"</li>
                    <li>2. Intitialize var wg sync.WaitGroup</li>
                    <li>3. Remember to add "go" and the waitgroups around them.</li>
                    <li>wg.Add(1) - the number is the goroutines operations.</li>
                </ul>

            </p>

            <br>



            <br>
            <p class="para primary">
                Now usually you only need waitgroups when you are sharing data or
                if you are unsure if an operation is going to end. But if you are
                needing to share this data, you are going to need a way to not change
                its value if another goroutines is utilizing it.

            </p>
            <br>

            <br>
            <p class="para" style="color:#a23299;">
                So imagine your goroutines are spinning data and
                need to share it.<br>
                <br></p>
            <p class="para" style="color:#a23299;">
                go1 begin->>><em style="color:#556ca1;">/ʕ◔ϖ◔ʔ/--- <i class="fas fa-spinner fa-pulse"></i><i class="fas fa-lock"></i><i
                        class="fas fa-circle-notch fa-spin 2x"></i><i class="fas fa-unlock-alt"></i></em><br></p>
            <p style="margin:0 auto;width:13%;clear:both;" class="clear primary">

                <i class="fas fa-ethernet fa-2x"></i>
            </p>

            <p class="para primary">
                go2 begin->>> <em style="color:#a5aec3;">/ʕ◔ϖ◔ʔ/</em>----<i class="fas fa-spinner fa-pulse"></i>
            </p>
            <br>

            <br>
            <p class="para primary">
                Now usually you only need waitgroups when you are sharing data or
                if you are unsure if an operation is going to end. But if you are
                needing to share this data, you are going to need a way to not change
                its value if another goroutines is utilizing it.
                An example of this is <a href="https://play.golang.org/p/4Q95wn4zUXI">this</a>

            </p>
            <br>

            <br>
            <p class="para primary">
                <p class="para" style="color:#a23299;">
                    Now imagine the channels are bins <i class="fas fa-archive"></i>
                    <br>
                    <br></p>
                <p class="para" style="color:#a23299;">
                    go1 begin->>><em style="color:#556ca1;">/ʕ◔ϖ◔ʔ/---<i class="fas fa-lock"></i><i
                            class="fas fa-circle-notch fa-spin fa-2x"></i><i class="fas fa-unlock-alt"></i></em><br></p>
                <p style="margin:0 auto;width:50%;clear:both;margin: 16px auto;    padding-left: 5%;"
                    class="clear primary">

                    <i class="fas fa-archive fa-2x"></i> c := make(chan int)
                </p>

                <p class="para primary">
                    go2 begin->>> <em style="color:#a5aec3;">/ʕ◔ϖ◔ʔ/</em>---->fmt.Println(<i
                        class="fas fa-archive"></i>)
                </p>

            </p>
            <br>


















        </div>
    </div>
</body>
{{template "footer"}}
