{{define "gotop"}}
<div class="cl">&nbsp;</div>
<div class="cl">&nbsp;</div>
<div class="cl">&nbsp;</div>
<div class="headbase">
        <ul class="headnav">
            <ol><a href="/go">Go</a></ol>
            <ol><a href="/js">JS</a></ol>
            <ol><a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing">Resources</a></ol>
            <ol><a href="/iuse">What I use</a></ol>
            <ol><a href="/flutter">Flutter</a></ol>
            <ol><a href="/next">Next gonna use</a></ol>
            <ol><a href="/scaling">Scaling</a></ol>
        </ul>
</div>
{{end}}