 {{template "header"}}

<body class="container">
    <h4 class="box-l primary vh-l nav">
        <ul>
            <li><a href="/go">Go</a></li>
            <li><a href="/js">JS</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/iuse">What I use</a></li>
            <li><a href="/flutter">Flutter</a></li>
            <li><a href="/next">Next gonna use</a></li>
            <li><a href="/scaling">Scaling</a></li>
        </ul>
    </h4>

    <div id="atf">
        <main>
            <center>
                <h1 class="primary vh-l">/ʕ◔ϖ◔ʔ/`````````</h1>

                <h2 class="primary  vh-l">Welcome to my site!</h2>

                <div class="grid">
                    <div class="grid-item w-1-1">

                        <div class="box-l btn w-1-4 vh-s search">This site is about the things I like and usually work
                            with. <br>
                            <div class="cl"></div>
                            <i class="box-l fa-2x fas fa-code-branch"></i></div>
                    </div>
                </div>
                

            </center>
        </main>
    </div>

</body>

<div class="grid w-1-1 footers">
    <a href="#head" style="padding:1px; margin: 1px;" class="button grid-item">
        <h4>Back to the top</h4>
    </a>

</div>
</body>
{{template "footer"}}
