{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Imports</h3>
            <div class="box-l  w-1-1 vh-s">
                <center>
                    <img style="width: 70%;" src="../static/img/inter.png" alt="">
                </center>
            </div>
            <div class="box-l  w-1-1 vh-s">
                <center>
                    <p class="para primary">
                       You have to remember to do a few things with imports.
                       <ul class="para primary">
                           <li>Export the concrete.</li>
                           <li>Let the user of the package do abstraction.</li>
                           <li>Let vscode utilize mod file to do importing.</li>
                           <li>Your folder structure will allow importing in github.</li>
                           <li>Uncoupling starts from the beginning not later.</li>
                       </ul>
                    </p>
                </center>
            </div>
            <div class=" box-l  w-1-1 vh-s">
                <center>
                    <p class="para primary">
                      You have to think about importing types as if they are 
                      types and not objects.  The purpose of using the interface
                      is to make sure your types are not coupled to your packages.
                      
                      So when you have an operation but you are pulling data from
                      another package, you should not couple that operation to that
                      type.
                    </p>
                    <p class="para primary">
                       
                        So when you have an operation but you are pulling data from
                        another package, you should not couple that operation to that
                        type.
                      </p>
                </center>
            </div>
        </div>
    </div>
</body>
{{template "footer"}}