{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> What I use</h3>
            <br>
            <p class="para primary">

                <ul class="para primary">
                    <li>I use an Aspire E5-575G v: V1.04 serial:</li>
                    <li><a href="https://elementary.io/">Elementary OS</a></li>
                    <li> <a href="https://code.visualstudio.com/">Text Editor</a> </li>
                </ul>

            </p>

            <br>
            <p class="para primary">

                I use the acer because the 15.6inch screen and its cheap.
                Which is great for web dev. It has really easily upgradable
                components and the bigger screen helps to have the editor and
                the website open at the same time.

            </p>
            <br>
            <p class="para primary">

                I use Elementary OS because of the simplicity of the design.
                Everything installed easily and I really did not have to add
                many dependencies. It just worked great out of the box.
                It is about as simple of a desktop as you can get with Everything
                working right away.
            </p>
            <br>
            <p class="para primary">
                The applications I use are is Guake Terminal so that I don't need
                to have a terminal take up your screen.
            </p>
            <p class="para primary">
                I use vscode because of the intellisense and linting is great.
            </p>
        </div>
    </div>





















</body>
{{template "footer"}}