{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Middleware</h3>

            <p class="para primary">
                The main key to the Middleware is the structuring of the 
                <br>
                handler and the <a href="https://play.golang.org/p/uJ8dmk2RHvp">server code.</a> 
            <br>
            <p class="para primary">This is getting the context and making it accessible</p>
            <div class="code box-l  w-1-1 vh-s">
                
                <center>
                    <pre><code>
                        <p>
                            c := context.Background()
                            log.Fatal(http.ListenAndServe(":8082", AddContext(c, handler)))
                        </p>
                    </code></pre>
                </center>
            </div>
            <br>
            <p class="para primary">This is the handler that has to be used to gather the request data.</p>
               <br>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
                        <p>
                            func AddContext(ctx context.Context, next http.Handler) http.Handler {
                                return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
                        </p>
                    </code></pre>
                </center>
            </div>
            </p>
            <br>

            <p class="para primary">
               The reasons we use context instead of reading the header data directly
               is because the context data is already stored in the context and we are
               only calling it once per request and not storing it. 
            </p>
<br>
            <p class="para primary">
                If you are worried about efficency you may want to call this <br>
                only when an error occurs so that it is not a burden.
             </p>
            <br>
           
        </div>
    </div>





















</body>
{{template "footer"}}