{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Scaling</h3>
            <br>
            <p class="para primary">
                This is one of the many reasons I love Go. There are
                so many factors in scaling an application that it is hard
                to describe. One of the biggest reasons that are never
                apparent at first is readability. This really does not
                come into play until it is hiring time and teams need to
                switch. Something that a lot of developers really dont
                understand until it is time to switch.
            </p>
            <br>
            <p class="para primary">
                The second part is uncoupling things. This really
                plays a big role in resouces. Because features like
                constructors, deconstructors, super, OOP, final,
                subtypes, and many other features that linger throughout
                a code base's lifecycle really make bigger programs
                almost impossible to deal with. They tend to then
                try to take the concrete data and weild it in a more
                sensible fasion but end up with something no one else
                is comfortable touching unless you have some lifers
                ready to micromanage.
            </p>

            <br>
            <p class="para primary">
                A third reason is the language's inability to
                extend or reuse code. This is especially an
                unseen issue that really isnt apparent. Because
                the users of the langauge are not at fualt for this.
                If your language tends to shorten code by chainging
                methods, utilize iterators, or encourage core methods
                that rely on a specific object or domain.
            </p>
            <br>
            <p class="para primary">
                Scope or lack of type strictness are another reason
                for a lack of scalability. An example of this is
                Go's range/if statements. They at first make you
                follow specific rules for moving data around after
                you have checked or looped through it. This might
                seem at first as a limiting factor but in bigger
                programs where you need to rely on readability,
                presumability, and hope that what the says it does.
                This is usually somehting completely foriegn to
                most programmers before attempting Go.
            </p>
            <br>
            <p class="para primary">
               I believe there is a great deal of lessons to be 
               learned by the greater programming community by 
               working within these rules and syntax.  
            </p>
            <br>
            <p class="para primary">
              Some of the critizisms I always see from people 
              coming from other languages is either a certain 
              language has a feature Go doesn't or that it's 
              feature is some how superior.  They really are 
              missing the point of the language in this sense.
              They don't realize the realm of the languages and 
              why they are made.
            </p>
            <br>
            <p class="para primary">
             Go is not a research language or in the business
             of researching new language features.  Meaning 
             the point of the creation of Go was to refine 
             what has already been done but to also improve 
             on the paradigms that already exist.  Meaning 
             you dont always need a language that does everything.
             When other languages begin to take features from 
             other languages, they end up putting burdens not 
             only on the learners of the language but the 
             developers forever on.  
            </p>
            <br>
            <p class="para primary">
             There never seems to be complaining about how 
             hard a language is or that the path it is taking 
             is getting hard to consume.  This usually falls on 
             the developers of that language and they take pride 
             in their works and blame themselves usually.  They 
             feel as though they must try harder and it never 
             crosses their mind.  For some reason this can go 
             on for decades without even a squeek of disapproval.
            </p>
            <br>
            <p class="para primary">
            ultimately, these are architechture decisions that 
            can influence a project forever on.  As the project 
            grows many developers get the mindset that they need 
            to just get features out but every decision matters for 
            them, for future devs and new programmers.  Again these 
            decisions are never apparent and some are not even a 
            result of the developers utilizing the language but are 
            old features or decisions to add features that make 
            programming harder exponentially without anyone noticing 
            why.
            </p>
        </div>
    </div>





















</body>
{{template "footer"}}