{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Server</h3>

            <p class="para primary">
                The most basic part of a <a href="https://play.golang.org/p/Zhd-5Ut_wZv">Server</a>
            </p>
            <br>

            <p class="para primary">
                To have your server serve html add a template handler.
                <br> The server with a <a href="https://play.golang.org/p/ZwwNkKdqq1F">template handler</a>
            </p>
            <br>
            <p class="para primary">
                You are going to need CSS/Images to serve in your server. <br>
                This is accomplished by <a href="https://play.golang.org/p/U6GhUrztdpk">http.FileServer()</a>
                <em style="color:red;">
                    <br> Warning: This is considering you have the folder static/ already made.
                    <div class="para">
                        <ul>
                            <li>- Project</li>
                            <ul>
                                <li>- /static</li>
                                <ul>
                                    <li>
                                        - /Img
                                    </li>
                                    <li>
                                        - /CSS
                                    </li>
                                </ul>
                                <li>- /templates</li>
                            </ul>
                        </ul>
                    </div>
                </em>
            </p>
            <br>
            <p class="para primary">
                Now you need a way to send data to these pages. <br>
                This can be accomplished in two ways.
                <br>
                1. <a href="https://play.golang.org/p/f8Sa6xYZjhR">Template data</a>
                <br>
                2. <a href="https://play.golang.org/p/HOMXJFQEE2t">Restful</a>
                <br>
                <em style="color:red;">
                    - 2a You still need to consume the api on the (frontend) page and this takes Javascript.
                    <br>
                    Not an easy task but here is an <a
                        href="https://gitlab.com/zendrulat123/bill/-/blob/master/templates/design.html">example</a>
                </em>
            </p>
        </div>
    </div>
</body>
{{template "footer"}}