{{define "stalker"}}

<div class="stalker">
    <center>
        <div class="card mb-3" style="background: transparent;
    border: 1px solid #32a27f;
    color: white;max-width: 540px;padding: 2%;">
            <div class="row no-gutters">
                <div class="col-md-1">
                    <i class="fas fa-user-astronaut fa-3x"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Fname }} {{ .Lname }}</h5>
                        <p class="card-text">The greatest member ever!</p>
                        <p class="card-text"><small class="text-muted">{{ .Email }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
{{end}}