{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">

            <br>
            <p class="para primary">

                Thank you {{ .Fname }} for the Submission. <br>
                You will recieve an email of me thanking you soon.
              
            </p>
        </div>
    </div>





















</body>
{{template "footer"}}