{{template "header"}}

<body id="head" class="container bk">
   
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
  {{- end}}!

    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Types</h3>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
                        <p>
                 type <em style="color: green;">T</em> struct {
                      //Fields not Methods
 }</p>
    </code></pre>
                </center>
            </div>
            <p class="para primary">
                Types provide a way to control data and behavior.
                I would say more control of behavior in Go then
                other languages. Not because of type features or
                lack of subtypes but the idea of composition and
                that types are completely seperate from the method
                tables.
            </p>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
                        <p>
            //struct
            type <em style="color: green;">T</em> struct {
                    Name string
 }
 <br>
                type <em style="color: green;">Ti</em> <em style="color: red;">interface</em >{ 
                   //methods 
}
<br>
                //this puts a value/type
                //into another type
                type <em style="color: green;">T2</em> = T

                type <em style="color: green;">T3</em> = *T

                //T2 != T3 becasue a pointer
                //is a different type
</p>
    </code></pre>
                </center>
            </div>

            <p class="para primary">
                Types can have concrete types/values and they can be
                embedded as well.
            </p>
            <div class="code box-l  w-1-1 vh-s">
                <center>
                    <pre><code>
    <p>
              //slice of int
              //which is different type from
              //just int type.
              var i []int 

                  
                //embedding types
                  type <em style="color: green;">T</em> struct {
                    T3
                    T2 interface{}
   }
                    </p>
</code></pre>
                </center>
            </div>
            <p class="para primary">
                Remember that when embedding types, when calling
                those embedded types you have to keep their order.
                You can also nest type initialization as well.
                This is expressed in - <a href="https://play.golang.org/p/EPYJ5IEYDFK">here</a>
            </p>
        </div>
    </div>
    </main>
    </div>



</body>
{{template "footer"}}