{{template "header"}}

<body id="head" class="container bk">
    {{template "gotop"}}
    {{if .Fname}}
    {{template "stalker" .}}
    {{- else}}
    <p> <a href="/form"> Please Sign in.</a></p>
    {{- end}}!
    <div class="grid">
        <div class="grid-item w-1-1">
            <h3 id="#interfaces" class="para primary"> Interfaces</h3>
            <p class="para primary">It provides a way to hold methods but it can be transfered to
                other structs.
            </p>
        </div>
    </div>
</body>
{{template "footer"}}