 {{template "header"}}

<bodY class="container">
  <h1 class="box-l primary vh-l nav">
    <ul>
      <li><a href="/go">Go</a></li>
      <li><a href="/js">JS</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/iuse">What I use</a></li>
      <li><a href="/flutter">Flutter</a></li>
      <li><a href="/next">Next gonna use</a></li>
      <li><a href="/scaling">Scaling</a></li>
    </ul>
  </h1>

  <div id="atf">
    <main>
      <center>
        <h1 class="box-l primary vh-l">Why people go to Go?</h1>

        <h2 class="primary vh-l">A lot of front-end developers go to Go because it is simple.</h2>

        <div class="grid">
          <div class="grid-item w-1-1">

            <div class="pbox w-1-1 vh-s">
            I think one of Go's goals is to refine what has been done and when needed
              it has added new features that make things simpler.
            </div>
           <div class="pbox w-1-1 vh-s">
           A lot of front-end developers come to go because they want something simpler
             to test out their api consuming on the front-end.  
            </div>
           <div class="pbox w-1-1 vh-s">
          I believe a lot of them also play with nodejs and although they enjoy the plug and play
             of npm, I believe when they want a mental model they search for cleaner code.
            </div>
            <div class="pbox w-1-1 vh-s">
         
            </div>
            
          </div>
        </div>


      </center>
    </main>
  </div>

</body>

{{template "footer"}}